#arena{
    width: 1600px;
    height: 1200px;
    margin-top: 0 auto;
    margin-left: 15em;  
}

canvas{
    border: 1.5px solid blue;
}

body{
    background-image: url("../Assets/Images/Background_menu.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.font-effect-fire-animation
{
    font-family: 'Sniglet', cursive;
    font-size: 55px; 
    margin-left : 0em;
}

.font-effect-3d-float
{
    font-family: 'Merriweather', cursive;
    font-size: 55px; 
    margin-left: 36%;
    align-content: center;
}

#toast{
    position: absolute;
    margin-left: 400px;
    margin-top: 200px;
    z-index: 1;
    display: none;
    font: 40px fantasy;
    text-align: center;
    color: #ff6;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);

    transition: opacity 0.5s;
    opacity: 0;
    display: none;
    z-index: 1;
}

 #loading {
    position: absolute;
    margin-top: 80px;
    margin-left: 50px;
    width: 790px;
    font: 55px fantasy;
    text-align: center;
    transition: opacity 2.0s;
 }
 
 #loading-title {
    padding-left: 0em;
    padding-bottom: 30px;
    color: #ff6;
    text-shadow: 2px 2px 4px rgb(0,0,0);

    transition: opacity  2.0s;
    opacity: 0;
    display: none;
 }
 
 #loading-animated-gif {
    margin: 0 auto;
    margin-left: 3em;
    border: thin solid rgba(0, 0, 255, 0.7);
    border-radius: 60px 60px 60px;   
    padding: 40px;
    margin-top: 10px;
    transition: opacity  2.0s;
    opacity: 0;
    display: none;
 }

 #sound-and-music{
    position: absolute;
    margin-left: 5px;
    margin-top: 9px;
    color: #ff0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: thin solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.9em;

    transition: opacity 5s;
    display: none;
    opacity: 0;
}

.checkbox-div{
    display: inline;
    text-shadow: 1px 1px 1px blue;
}

#sound-checkbox-div {
    margin-right: 10px;
}

ul {
    list-style-type: none;
    text-align: center;
    font-size: 2em;
    margin-left: 0em;
}

li {
    width: 8em;
    height: 2em;
    margin: 0 auto;
    line-height: 2em;
    text-align: center;
    overflow: hidden;
    margin-bottom: 1em;
}

a:link, a:visited, a:active {
    color: #fff;
    text-decoration: none;
}

a:hover {
    display: block;
    text-decoration: none;
    color: #3CF;
    background-color: saddlebrown;
    font-size: 1em;
}

a {
    display: block; 
    color: black;
}

button:hover {
    background-color: saddlebrown;
}

li:hover {
    background-color: saddlebrown;
}

#menu{
    margin-top: 1em;
    margin-left: 0em;
    align-content: center;
}

#title-Icon{
    width:60px;
    height: 60px;
    float: left;
    padding-top: 0.4em;
}

#lose{
    color: red;
    display: none;
    z-index: 2;
    position: absolute;
    margin-left: 16%;
    margin-top: 16%;
}

#loseIMG{
   margin-left: 2.5em;
}

#loseMSG{
    margin-left: 1.5em;
}

#losemenu{
    color: black;
}

#win{
    display: none;
    z-index: 2;
    position: absolute;
    margin-left: 16%;
    margin-top: 16%;
}

#winIMG{
    margin-left: 2.5em;
}

#winMSG{
    margin-left: 0.5em;
}

#losemenu{
    position: absolute;
}

#winmenu{
    position: absolute;
}

#Bestscore{
    margin-left: 0.5em;
    font-family: 'Sniglet', cursive;
    font-size: 30px; 
    color: orange;
}

#CurrentScore{
    margin-left: 0.5em;
    font-family: 'Sniglet', cursive;
    font-size: 30px; 
    color: orange;
}

#ScoreBoard{
    width: 500px;
    height: 500px;
    position: absolute;
    margin-top: 1em;
    margin-left: 35%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    color:white;
    font-family: 'Sniglet', cursive;
    font-size: 20px; 
    overflow: scroll;
}

.label{
    color: white;
}

#CloseWindow{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 100px;
    margin-left: 40%;
    margin-top: 32%;
    color: white;
    text-align: center;
    line-height: 100px;
    display: none;
    font-family: 'Sniglet', cursive;
    font-size: 30px; 
    word-wrap:break-all; 
}

#helppage{
    width: 500px;
    height: 500px;
    position: absolute;
    margin-top: 1em;
    margin-left: 35%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    color:white;
    font-family: 'Sniglet', cursive;
    font-size: 20px; 
}

#playerdetails{
    position: absolute;
    font-size: 14px;
    margin-top: 6em;
    margin-left: 0px;
}

#Difficulty{
    display: inline;
    background-color: rgb(173,255,47,0.8);
}

#pauseText{
    position: absolute;
    margin-left: 5em;
    margin-top: 6.5em;
    font-family: 'Sniglet', cursive;
    font-size: 40px; 
    color: orange;

}